<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="jumbotron" action="/agregar" method="post">
        <div class="form__group">
            <label for="name">Product Name</label>
            <input id="name" type="text" name="name" placeholder="Product name" required />
        </div>
  
        <div class="form__group">
            <label for="description"> Description</label>
            <input id="description" type="text" name="description" placeholder="Product description" required />
        </div>

        <div class="form__group">
            <label for="price">Product Price</label>
            <input id="price" type="number" name="price" placeholder="120.000" required />
        </div>

        <div class="form__group">
            <button>Add New Product</button>
        </div>
    
    </form>
</body>
</html>